@import "../../variables.scss";

.items {
	padding-bottom: map-get($map: $spacing, $key: 'lg');

	&_container {
		border-radius: 2px;
		background: white;
	}
	&_border {
		border-top: 1px solid $light;
	}
	&_breadcrumb {
		font-size: 14px;
		margin: 12px 0px;
		color: $gray-light;
	}
}

