@import "../../variables.scss";

$headerHeight: 32px;

.header {
	height: $headerHeight;
	background: $primary;
	width: 100%;
	&_content {
		height: 100%;
		padding-left: map-get($map: $spacing, $key: "md");
		padding-right: map-get($map: $spacing, $key: "md");
	}
}

.grid {
	height: 100%;
}

.logo {
	height: 100%;
	padding: 6px;
}
