@import "./variables.scss";

*, *::after, *::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: $font-stack;
	background: $light;
}

a,a:hover,a:link,a:visited,a:active {
	color: $dark;
	background-color: transparent;
	text-decoration: none;
}

ol {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}
