$primary: #FFE600;
$blue: #3483FA;
$light: #EEEEEE;
$gray-light: #999999;
$gray: #666666;
$dark: #333333;

$spacing: (
	'sm': 8px,
	'md': 16px,
	'lg': 24px,
	'xl': 32px
);

$font-stack: Helvetica, sans-serif;
